<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= service.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= service.description %>
  </p>
</div>
