<div id="<%= dom_id recommendation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Service:</strong>
    <%= recommendation.service_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= recommendation.client_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Suggested date:</strong>
    <%= recommendation.suggested_date %>
  </p>
</div>
