<div id="<%= dom_id visit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= visit.client_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Visit date:</strong>
    <%= visit.visit_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= visit.notes %>
  </p>
</div>
