<div id="<%= dom_id schedule %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Visit date:</strong>
    <%= schedule.visit_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Service:</strong>
    <%= schedule.service_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= schedule.client_id %>
  </p>
</div>
