<div id="<%= dom_id disease %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= disease.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= disease.description %>
  </p>
</div>
