<div id="<%= dom_id home %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= home.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= home.content %>
  </p>
</div>
